{% extends 'base.html.twig' %}

{% block body %}
    <h1>Biographies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for biographie in biographies %}
            <tr>
                <td><a href="{{ path('biographie_show', { 'id': biographie.id }) }}">{{ biographie.id }}</a></td>
                <td>{{ biographie.titre }}</td>
                <td>{{ biographie.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('biographie_show', { 'id': biographie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('biographie_edit', { 'id': biographie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('biographie_new') }}">Create a new biographie</a>
        </li>
    </ul>
{% endblock %}
